# Compiled class file
*.class
*.iml

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*
/com-sys/target/
/com-sys-code-generator/target/
/com-sys-core/target/
/com-sys-domain/target/
/com-sys-model/target/
/com-sys-service/target/


