<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sys.domain.base.CommonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="MenuBaseResultMap" type="com.sys.model.admin.Menu">
        <result column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
    </resultMap>

    <select id="getAccountMenu" resultMap="MenuBaseResultMap">
        SELECT
            id, code, name,p_id
        FROM
            t_menu

    </select>

    <select id="validate" resultType="java.lang.Integer">
        <if test="null!=params">
            SELECT COUNT(1) as s FROM ${params.tale} WHERE 1=1
            <if test="null!=params.account and ''!=params.account">
                and account = #{params.account}
            </if>
            <if test="null!=params.name and ''!=params.name">
                and name = #{params.name}
            </if>
            <if test="null!=params.code and ''!=params.code">
                and code=#{params.code}
            </if>
        </if>
    </select>
    <!-- auto generate end -->
</mapper>
