<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sys.domain.admin.UserMapper">
    <!-- auto generate -->
    <resultMap id="BaseResultMap" type="com.sys.model.admin.User">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="account" property="account" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    </resultMap>


    <sql id="colums_condition">
		id,account,name,status,create_user
	</sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="FileMap" type="com.sys.core.entity.File">
        <result column="id" property="id"/>
        <result column="file_name" property="fileName"/>
        <result column="file_type" property="fileType"/>
        <result column="file_size" property="fileSize"/>
        <result column="file_path" property="filePath"/>
        <result column="entity_id" property="entityId"/>
        <result column="base64_type" property="base64Type"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="file_colums_condition">
        id,
    file_name, file_type, file_size, file_path,entity_id,base64_type
    </sql>

    <sql id="condition">
        <if test="null!=params">
            <if test="null!=params.queryCondition and ''!=params.queryCondition">
                And ${params.queryCondition}
            </if>
            <if test="null!=params.id and ''!=params.id">
                and id=#{params.id}
            </if>
            <if test="null!=params.account and ''!=params.account">
                and account=#{params.account}
            </if>
            <if test="null!=params.roleNo and ''!=params.roleNo">
                and role_no=#{params.roleNo}
            </if>
            <if test="null!=params.status and ''!=params.status">
                and status=#{params.status}
            </if>
        </if>
    </sql>

    <sql id="uniqe_condition">
        1=1
        <if test="null!=id and ''!=id">
            AND id=#{id}
        </if>
    </sql>

    <select id="validateUserRole" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM t_user t
			WHERE t.account = #{account}
				and t.role_no = #{roleNo}
	</select>

    <select id="findByPrimaryKey" resultMap="BaseResultMap">
        SELECT
        <include refid="colums_condition" />
        FROM t_user
        WHERE id = #{id};
    </select>

    <select id="findByUnique" resultMap="BaseResultMap">
        SELECT
        <include refid="colums_condition" />
        FROM t_user
        WHERE
        <include refid="uniqe_condition" />
        limit 1
    </select>

    <select id="findByParam" resultMap="BaseResultMap"
            parameterType="map">
        SELECT
        <include refid="colums_condition" />
        FROM t_user
        WHERE 1=1
        <include refid="condition" />
        limit 1
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        SELECT COUNT(1) as s FROM t_user WHERE 1=1
        <include refid="condition" />
    </select>

    <select id="selectByPage" resultMap="BaseResultMap"
            parameterType="map">
        SELECT
        <include refid="colums_condition" />
        FROM t_user WHERE 1=1
        <include refid="condition" />
        <if test="orderby != null and ''!=orderby">
            ORDER BY ${orderby}
        </if>
        LIMIT #{page.startRowNum} ,#{page.pageSize}
    </select>

    <select id="selectByParams" resultMap="BaseResultMap"
            parameterType="map">
        SELECT
        <include refid="colums_condition"/>
        FROM t_user t
        where 1=1
        <include refid="condition"/>
    </select>

    <delete id="deleteByPrimaryKey">
		DELETE FROM t_user
		WHERE id = #{id}
	</delete>

    <delete id="deleteByUnique">
        DELETE FROM t_user
        WHERE
        <include refid="uniqe_condition" />
    </delete>

    <delete id="deleteByParams" parameterType="map">
        DELETE
        FROM t_user
        WHERE 1=1
        <include refid="condition" />
        <if test="params.ids != null">
            AND id in ( ${params.ids} )
        </if>
    </delete>

    <insert id="insert" parameterType="com.sys.model.admin.User">
        INSERT INTO t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="account != null">
                account,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="account != null">
                #{account},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="createUser != null">
                #{createUser},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.sys.model.admin.User">
        UPDATE t_user
        <set>
            <if test="account != null">
                account = #{account},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <!-- auto generate end -->

    <select id="getUserRole" resultMap="BaseResultMap"
            parameterType="map">
        Select distinct
        a.account,
        a.role_no,
        b.name
        From v_user_role a
        inner join t_role b on a.role_no = b.role_no and b.status = 1
        Where 1=1
        <if test="params.accounts != null">
            AND a.account in
            <foreach item="item" collection="params.accounts" separator=","
                     open="(" close=")" index="">
                '${item}'
            </foreach>
        </if>
        <if test="params.account != null">
            And account = #{params.account}
        </if>
        order by a.account,b.name

    </select>


    <insert id="insertWithFile" parameterType="com.sys.core.entity.File">
        INSERT INTO t_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="fileName != null">
                file_name,
            </if>
            <if test="fileType != null">
                file_type,
            </if>
            <if test="fileSize != null">
                file_size,
            </if>
            <if test="filePath != null">
                file_path,
            </if>
            <if test="entityId != null">
                entity_id,
            </if>
            <if test="base64Type != null">
                base64_type,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="fileName != null">
                #{fileName},
            </if>
            <if test="fileType != null">
                #{fileType},
            </if>
            <if test="fileSize != null">
                #{fileSize},
            </if>
            <if test="filePath != null">
                #{filePath},
            </if>
            <if test="entityId != null">
                #{entityId},
            </if>
            <if test="base64Type != null">
                #{base64Type},
            </if>
        </trim>
    </insert>

    <select id="selectFileByEntityId" resultMap="FileMap" parameterType="java.lang.String">
        SELECT
        <include refid="file_colums_condition"/>
        FROM t_file t
        where t.entity_id = #{entityId}

    </select>

    <delete id="deleteFileyEntityId" parameterType="java.util.List">
        <if test="ids != null">
            DELETE
            FROM t_file t where t.entity_id in
            <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </delete>
</mapper>