<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package.Mapper}.${table.mapperName}">

#if(${enableCache})
    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

#end
#if(${baseResultMap})
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="${package.Entity}.${entity}">
#foreach($field in ${table.fields})
    #if(${field.keyFlag})##生成主键排在第一位
        <id column="${field.name}" property="${field.propertyName}"/>
    #end
#end
    #foreach($field in ${table.commonFields})##生成公共字段
        <result column="${field.name}" property="${field.propertyName}"/>
    #end
#foreach($field in ${table.fields})
    #if(!${field.keyFlag})##生成普通字段
        <result column="${field.name}" property="${field.propertyName}"/>
    #end
#end
    </resultMap>
#end
#if(${baseColumnList})
    <!-- 通用查询结果列 -->
    <sql id="colums_condition">
    #foreach($field in ${table.commonFields})
        ${field.name},
    #end
    ${table.fieldNames}
    </sql>
#end

    <sql id="condition">
        <if test="null!=params">
            <if test="null!=params.queryCondition and ''!=params.queryCondition">
                And ${params.queryCondition}
            </if>
    #foreach($field in ${table.fields})
        #if(${field.keyFlag})
            <if test="params.${field.propertyName} != null and params.${field.propertyName} != ''">
                and ${field.propertyName} = #{params.${field.propertyName}}
            </if>
        #end
    #end
        #foreach($field in ${table.commonFields})##生成公共字段
            <if test="params.${field.propertyName} != null and params.${field.propertyName} != ''">
                and ${field.name} = #{params.${field.propertyName}}
            </if>
        #end
    #foreach($field in ${table.fields})
        #if(!${field.keyFlag})##生成普通字段
            <if test="params.${field.propertyName} != null and params.${field.propertyName} != ''">
                and ${field.name} = #{params.${field.propertyName}}
            </if>
        #end
    #end
        </if>
    </sql>

    <sql id="uniqe_condition">
        1=1
        <if test="null!=id and ''!=id">
            AND id=#{id}
        </if>
    </sql>

    <select id="findByPrimaryKey" resultMap="BaseResultMap">
        SELECT
        <include refid="colums_condition"/>
        FROM
        ${table.name}
        WHERE id = #{id};
    </select>

    <select id="findByUnique" resultMap="BaseResultMap">
        SELECT
        <include refid="colums_condition"/>
        FROM ${table.name}
        WHERE
        <include refid="uniqe_condition"/>
        limit 1
    </select>

    <select id="findByParam" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="colums_condition"/>
        FROM ${table.name}
        WHERE 1=1
        <include refid="condition"/>
        LIMIT #{page.startRowNum} ,#{page.pageSize}
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        SELECT COUNT(1) as s FROM ${table.name} WHERE 1=1
        <include refid="condition"/>
    </select>

    <select id="selectByPage" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="colums_condition"/>
        FROM ${table.name} WHERE 1=1
        <include refid="condition"/>
        <if test="orderby != null and ''!=orderby">
            ORDER BY ${orderby}
        </if>
        LIMIT #{page.startRowNum} ,#{page.pageSize}
    </select>

    <select id="selectByParams" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="colums_condition"/>
        FROM ${table.name} t
        where 1=1
        <include refid="condition"/>
    </select>

    <delete id="deleteByPrimaryKey">
		DELETE FROM ${table.name}
		WHERE id = #{id}
	</delete>

    <delete id="deleteByUnique">
        DELETE FROM ${table.name}
        WHERE
        <include refid="uniqe_condition"/>
    </delete>

    <delete id="deleteByParams" parameterType="map">
        <if test="params.ids != null">
            DELETE
            FROM ${table.name}
            <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </delete>

    <insert id="insert" parameterType="${package.Entity}.${entity}">
        INSERT INTO ${table.name}
        <trim prefix="(" suffix=")" suffixOverrides=",">
    #foreach($field in ${table.fields})
        #if(${field.keyFlag})##生成主键排在第一位
            <if test="${field.propertyName} != null">
                ${field.name},
            </if>
        #end
    #end
        #foreach($field in ${table.commonFields})##生成公共字段
            <if test="${field.propertyName} != null">
                ${field.name},
            </if>
        #end
        #foreach($field in ${table.fields})
        #if(!${field.keyFlag})##生成普通字段
            <if test="${field.propertyName} != null">
                ${field.name},
            </if>
        #end
        #end
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        #foreach($field in ${table.fields})
        #if(${field.keyFlag})##生成主键排在第一位
            <if test="${field.propertyName} != null">
                #{${field.propertyName}},
            </if>
        #end
        #end
        #foreach($field in ${table.commonFields})##生成公共字段
            <if test="${field.propertyName} != null">
                #{${field.propertyName}},
            </if>
        #end
    #foreach($field in ${table.fields})
        #if(!${field.keyFlag})##生成普通字段
            <if test="${field.propertyName} != null">
                #{${field.propertyName}},
            </if>
        #end
    #end
        </trim>
    </insert>

    <update id="update" parameterType="${package.Entity}.${entity}">
        UPDATE ${table.name}
        <set>
    #foreach($field in ${table.commonFields})##生成公共字段
        #if(!${field.keyFlag})
            <if test="${field.propertyName} != null">
                ${field.name} = #{${field.propertyName}},
            </if>
        #end
    #end
    #foreach($field in ${table.fields})
        #if(!${field.keyFlag})##生成普通字段
            <if test="${field.propertyName} != null">
                ${field.name} = #{${field.propertyName}},
            </if>
        #end
    #end
        </set>
        WHERE id = #{id}
    </update>
    <!-- auto generate end -->
</mapper>
