<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sys.domain.basecode.MaterialsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sys.model.basecode.Materials">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="attribute" property="attribute"/>
        <result column="efficacy" property="efficacy"/>
        <result column="instructions" property="instructions"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="colums_condition">
        id,
    name, attribute, efficacy, instructions
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="FileMap" type="com.sys.core.entity.File">
        <result column="id" property="id"/>
        <result column="file_name" property="fileName"/>
        <result column="file_type" property="fileType"/>
        <result column="file_size" property="fileSize"/>
        <result column="file_path" property="filePath"/>
        <result column="material_id" property="materialId"/>
        <result column="base64_type" property="base64Type"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="file_colums_condition">
        id,
    file_name, file_type, file_size, file_path,material_id,base64_type
    </sql>

    <sql id="condition">
        <if test="null!=params">
            <if test="null!=params.queryCondition and ''!=params.queryCondition">
                And ${params.queryCondition}
            </if>
            <if test="params.id != null and params.id != ''">
                and id = #{params.id}
            </if>
            <if test="params.name != null and params.name != ''">
                and name like '%${params.name}%'
            </if>
            <if test="params.attribute != null and params.attribute != ''">
                and attribute like '%${params.attribute}%'
            </if>
            <if test="params.efficacy != null and params.efficacy != ''">
                and efficacy like '%${params.efficacy}%'
            </if>
            <if test="params.instructions != null and params.instructions != ''">
                and instructions like '%${params.instructions}%'
            </if>
        </if>
    </sql>

    <sql id="uniqe_condition">
        1=1
        <if test="null!=id and ''!=id">
            AND id=#{id}
        </if>
    </sql>

    <select id="findByPrimaryKey" resultMap="BaseResultMap">
        SELECT
        <include refid="colums_condition"/>
        FROM
        t_materials
        WHERE id = #{id};
    </select>

    <select id="findByUnique" resultMap="BaseResultMap">
        SELECT
        <include refid="colums_condition"/>
        FROM t_materials
        WHERE
        <include refid="uniqe_condition"/>
        limit 1
    </select>

    <select id="findByParam" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="colums_condition"/>
        FROM t_materials
        WHERE 1=1
        <include refid="condition"/>
        LIMIT #{page.startRowNum} ,#{page.pageSize}
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        SELECT COUNT(1) as s FROM t_materials WHERE 1=1
        <include refid="condition"/>
    </select>

    <select id="selectByPage" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="colums_condition"/>
        FROM t_materials WHERE 1=1
        <include refid="condition"/>
        <if test="orderby != null and ''!=orderby">
            ORDER BY ${orderby}
        </if>
        LIMIT #{page.startRowNum} ,#{page.pageSize}
    </select>

    <select id="getAll" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="colums_condition"/>
        FROM t_materials
    </select>


    <select id="selectByParams" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="colums_condition"/>
        FROM t_materials t
        where 1=1
        <include refid="condition"/>
    </select>

    <delete id="deleteByPrimaryKey">
		DELETE FROM t_materials
		WHERE id = #{id}
	</delete>

    <delete id="deleteByUnique">
        DELETE FROM t_materials
        WHERE
        <include refid="uniqe_condition"/>
    </delete>

    <delete id="deleteByParams" parameterType="map">
        <if test="ids != null">
            DELETE
            FROM t_materials t where t.id in
            <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </delete>

    <select id="deleteByParams" parameterType="map">
        DELETE
        FROM t_materials t where 1 = 1
        <include refid="condition"/>
    </select>

    <insert id="insert" parameterType="com.sys.model.basecode.Materials">
        INSERT INTO t_materials
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="attribute != null">
                attribute,
            </if>
            <if test="efficacy != null">
                efficacy,
            </if>
            <if test="instructions != null">
                instructions,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="attribute != null">
                #{attribute},
            </if>
            <if test="efficacy != null">
                #{efficacy},
            </if>
            <if test="instructions != null">
                #{instructions},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.sys.model.basecode.Materials">
        UPDATE t_materials
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="attribute != null">
                attribute = #{attribute},
            </if>
            <if test="efficacy != null">
                efficacy = #{efficacy},
            </if>
            <if test="instructions != null">
                instructions = #{instructions},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <insert id="insertWithFile" parameterType="com.sys.core.entity.File">
        INSERT INTO t_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="fileName != null">
                file_name,
            </if>
            <if test="fileType != null">
                file_type,
            </if>
            <if test="fileSize != null">
                file_size,
            </if>
            <if test="filePath != null">
                file_path,
            </if>
            <if test="materialId != null">
                material_id,
            </if>
            <if test="base64Type != null">
                base64_type,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="fileName != null">
                #{fileName},
            </if>
            <if test="fileType != null">
                #{fileType},
            </if>
            <if test="fileSize != null">
                #{fileSize},
            </if>
            <if test="filePath != null">
                #{filePath},
            </if>
            <if test="materialId != null">
                #{materialId},
            </if>
            <if test="base64Type != null">
                #{base64Type},
            </if>
        </trim>
    </insert>

    <select id="selectByParams" resultMap="FileMap" parameterType="java.lnag.String">
        SELECT
        <include refid="file_colums_condition"/>
        FROM t_file t
        where 1=1
        <include refid="condition"/>
    </select>

    <delete id="deleteFileyEntityId" parameterType="list">
        <if test="ids != null">
            DELETE
            FROM t_file t where t.id in
            <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </delete>
    <!-- auto generate end -->
</mapper>
