<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <package name="com-sys-model" />
    </typeAliases>
    <mappers>
        <!-- 基础管理 -->
        <mapper resource="mapper/admin/UserMapper.xml"/>
        <mapper resource="mapper/admin/MenuMapper.xml"/>

        <mapper resource="mapper/base/CommonMapper.xml"/>
    </mappers>
</configuration>